/*auth.css 인증 페이지 전용 (로그인 회원가입)*/
.auth-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
  background-color: var(--bg-main);
}
 .auth-card{
  width: 100%;
  max-width: 480px;
  padding: 48px;
 }
.auth-btn-main{
  width: 100%;
  padding: 14px;
  background-color:  var(--bran-color);
  color: var(--text-white);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  transition: background 0.2s;
}

.auth-btn-main:hover{
  background-color: var(--brand-hover);
}


/*유저 로그인 후 상단 오른쪽에 생긴 것들*/

.user-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 24px;
  position: relative;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
}

.icon-btn:hover {
  background-color: var(--primary-light);
}

.notification-dot {
  position: absolute;
  top: 2px;
  right: 4px;
  color: #ef4444;
  font-size: 10px;
}

.username-btn {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-main);
  cursor: pointer;
  padding: 8px 40px;
  border-radius: 8px;
}

.username-btn:hover {
  background-color: var(--primary-light);
}