

/*전체를 감싸는*/
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*상단*/
.header{
  height: 64px;
  background-color: var(--bg-white);
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: sticky;
  top: 0;
  z-index:100;

  }

  /*관리와 유저 헤드*/
.header-user .admin-only {
  display: none;
}

.header-user .user-only {
  display: none;
}


  
.content-wrapper{
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 24px 20px;
  gap: 24px;    
}


.main-content{
  flex: 3;
  min-width: 0;
}


.card {
  background-color: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}




/*사이드바*/
.sidebar{
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-card {
  background-color: var(--bg-white);
  border-radius: 12px;
  padding: 20px;
  border: 1px solid var(--border);
}








/*기타 버튼*/
.write-btn {
  display: flex;
 
  justify-content: flex-end;
  align-items: center;
  
  border-radius: 6px;
  gap: 6px;        
  padding: 11px 18px;
  height: 44px;

  background-color: var(--brand-write); 
  color: var(--text-white);  
}
.write-btn:hover{
background-color: var(--brand-write-hover);
}





.main-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  
}


/* 메인페이지 게시판, 공지사항, 스터디*/
.tag-group {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.tag {
  background-color: var(--brand-color);
  padding: 5px 20px;
  border-radius: 6px;
  color: var(--text-main);
  font-size: 19px;
}

.tag:hover{
  background-color: var(--brand-hover);
  color: var(--text-white);
}

/*기슬 태그*/
.tags-grup{
  
}











