:root {
  /* 홈 버튼 컬러: 보라색 계열 */
  --primary: #7c4dff;
  --primary-hover:#651fff;
  --primary-light:#f3efff;
  
  /*브랜드/포인컬러 (로그인 버튼, 글쓰기 버튼 등)*/
  --brand-color:#f1eaeaf8; 
  --brand-hover:#2563ed;

  --brand-write:#2563ed;
  --brand-write-hover:#1f58d1;
/*소셜로그인*/
  --kakao-yellow: #FEE500;
  --github-black:#24292e;
  --google-border:#e5e7eb;

  /*배경색*/
  --bg-main:#f9fafb; /*전체 배경*/
  --bg-card:#ffffff; /*게시글 로그인 카드 배경*/
  --bg-white: #ffffff;
  --text-dark: #2d2d2d;
  --text-sub: #6c757d;
  --border: #e9ecef;

  /*글자색*/
  --text-main:#111827; /*아주 진한 제목/ 본문*/
  --text-sub:#6b7280; /*연한 설명/날짜*/
  --text-white:#ffffff; /*버튼위 글자*/


  /*테두리*/
  --border-light: #e5e7eb;
  --border-medium: #dee2e6;

  /*상태표시 ()*/
  --point-orange: #ff9100;
  --status-green: #2ecc71;

    /*레이아웃 사이즈*/
  --max-width: 1200px;

 
}
  /*기초공사 (reset)*/
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
   body {
      font-family:'Pretendard', sans-serif;
      background-color: var(--bg-main);
      color: var(--text-main);
   }
  
   a{
    text-decoration:none;
    color: inherit;
   }
   ul{
    list-style: none;
   }

   button{
    cursor: pointer;
    border: none;
    background: none;

      



   }
  
